<center><h1>Dish Information</h1></center>
<div class="container">
  <%= form_for(@dish, url: dishes_path, html: {id: "new-dish-form"}) do |f|%>
      <div class="img-preview-div">
        <img src="/assets/dummy.jpg" id= "blah" alt="">
      </div>

    <div>
       <%= f.file_field :image, class: "image" %>
    </div>
    <div>
      <%=f.label :name, "Dish Name"%>
      <%= f.text_field :name, placeholder: "Name"%>
    </div>
    <div>
      <%=f.label :description, "Dish Description"%>
      <%= f.text_area :description, placeholder: "Dish Description"%>
    </div>
    <div>
      <%=f.label :price, "Dish price"%>
      <%= f.text_area :price, placeholder: "Dish price"%>
    </div>
    <%= f.hidden_field :course_id, :value => params[:course_id] %>
    <%=f.submit "Submit"%>
  <%end%>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var preview = $(".img-preview-div #blah");
    $(".image").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });
  });
  
    
</script>